# Datentypen in Python:

Variablen können Daten speichern und diese Daten haben bestimmte Typen mit jeweils bestimmten einzigartigen Eigenschaften.

Python Built-in Datentypen(die 4 häufigsten):
- string (str) = text Typ
- integer (int) = Ganzzahl, also ohne Nachkommastelle
- float = Gleitkommazahl, Zahl mit Nachkommastelle
- bool = Boolean, Wahrheitswert, also entweder wahr(True) oder falsch(False)

Python erkennt im Gegensatz zu anderen Programmiersprachen den Datentyp automatisch wenn eine Variable erstellt wird und weist ihn zu. 
Datentyp-Zuweisung kann auch manuell erzwungen werden(Typkonvertierung; Type-converstoin/casting)

In [ ]:
# string
# wird mit " " oder ' ' festgelegt
x = "Das ist ein String"
print(x)

In [ ]:
# integer
# Ziffern von 0-9
x = 2
y = -57
z = 0
print(x,y,z)

In [ ]:
# float
# Komma wird durch . dargestellt! Nicht durch , !!!!
x = 2.0
y = -8.9
z = 999.9999
print(x,y,z)

In [ ]:
# bools
# Variablen können nur True oder False zugewiesen werden. Großschreibung IST Notwendig
x = True
y = False
print(x,y)

type() Funktion:

Damit kann der Typ einer Variable einfach überprüft werden

In [ ]:
a = "Hallo"
b = 42
c = "43"
d = 4.5

# Variable in der Klammer je nach bedarf ändern
type(a)

# Datentypen Aktionen:

| Datentyp | Typische Aktionen / Beispiele |
|-----------|-------------------------------|
| str | Verbinden (+), Wiederholen (*) <br>`"Hallo " + "Welt"` → `"Hallo Welt"` |
| int | + - * / Rechnen, zählen, vergleichen  <br>`a = 5 + 3` → `8` |
| float | Rechnen mit Dezimalzahlen <br>`preis = 3.5 * 2` → `7.0` |
| bool | Logik, Vergleiche <br>`x = 5 > 3` → `True` |

In [ ]:
# string Aktionen

wort1 = "Hallo "
wort2 = "Welt"
satz = wort1 + wort2
wiederholung = wort1 * 3

print(wort2)
print(satz)
print(wiederholung)

In [ ]:
# integer Aktionen
a = 5
b = 3
summe = a + b
produkt = a * b
vergleich = a > b

print(summe)
print(produkt)
print(vergleich)

In [ ]:
# float Aktionen
preis = 3.5
anzahl = 2
gesamt = preis * anzahl

print(gesamt)

In [ ]:
# bool Aktionen
x = 5 > 3
y = 10 == 5  # ein = bedeutet Zuweisung, zwei == bedeuten Vergleich

print(x)
print(y)

# Datentypumwandlung (auch Type-Casting):

Ist das umwandeln von Datentypen bzw. das Erzwingen dass der Inhalt einer Variable ein bestimmter Datentyp sein MUSS.

In [ ]:
# string zu integer
a = "5"
b = int(a)
print(b, type(b))

# string zu float
x = "3.14"
y = float(x)
print(y, type(y))

# integer zu string
z = str(42)
print(z, type(z))

# integer zu bool
# hier gilt (null oder leerer Inhalt = False) und (vorhandener Inhalt = True)
print(bool(0))     # False wegen 0
print(bool())      # False weil leer
print(bool(5))     # True

# Aufgabe 1:

In [ ]:
# Aufgabe 1.1:
# Lege zwei ganze Zahlen an und führe damit einfache Rechnungen durch.
# a) Addiere sie
# b) Multipliziere sie
# c) Prüfe, ob die erste Zahl größer ist als die zweite.

In [ ]:
# Aufgabe 1.2:
# Rechne mit Kommazahlen (floats)!
# a) Erstelle zwei float-Variablen
# b) Berechne den Durchschnitt der beiden Zahlen

In [ ]:
# Aufgabe 1.3:
# Arbeite mit Texten (Strings)!
# a) Erstelle zwei Wörter als Variablen
# b) Verbinde sie mit + zu einem Satz

In [ ]:
# Aufgabe 1.4:
# Teste logische Vergleiche!
# a) Erstelle zwei Zahlen
# b) Prüfe, ob sie gleich sind (==)
# c) Prüfe, ob die erste größer ist
# d) Gib die Ergebnisse aus.

In [ ]:
# Aufgabe 1.5:
# Übe die Umwandlung zwischen Datentypen!
# a) Wandle den Text "25" in eine ganze Zahl um
# b) Wandle die Zahl 3.5 in Text um
# c) Wandle den Text "0" in bool um und überlege, warum das Ergebnis so ist

# Aufgabe 2:

In [ ]:
# Aufgabe 2.1:
# Lege zwei Zahlen an – eine ganze Zahl (int) und eine Kommazahl (float).
# Berechne:
# a) ihre Summe
# b) ihr Produkt
# c) den Durchschnitt (auf 2 Nachkommastellen gerundet)

# Tipp: Verwende round().

In [ ]:
# Aufgabe 2.2:
# Frage den Benutzer nach einer ganzen Zahl.
# Wandle die Eingabe in int um.
# Berechne:
# a) die Verdopplung dieser Zahl
# b) die Hälfte dieser Zahl
# c) gib beides aus

In [ ]:
# Aufgabe 2.3:
# Erstelle zwei String-Variablen, einen Vornamen und Nachnamen.
# a) Verbinde sie mit einem Leerzeichen dazwischen.
# b) Gib den kompletten Namen aus.
# c) Gib aus, wie viele Zeichen der vollständige Name enthält (len()).

In [ ]:
# Aufgabe 2.4:
# a) Lege zwei Zahlen an
# b) Prüfe, ob die erste größer ist als die zweite
# c) Prüfe, ob beide gleich sind
# d) Gib die Ergebnisse als True oder False aus